<h3>Add Song</h3>
<div class="row">
    <form action="/songs" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="Name" name="Name">
                <label for="Name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                    <input type="text" id="duration" name="duration">
                    <label for="duration">Duration</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="Artist" name="Artist">
                <label for="Artist">Artist</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="link" name="link">
                <label for="link">Link</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/songs" class="btn orange">Cancel</a>
        </div>
    </form>
</div>